.loginTop{
    padding-top: 3rem;
    background-color: #FBF7F2;

}

.loginFrame{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    width: 30rem;
    height: 28.5rem;
    margin-top: 8rem;
}

/* #loginContent{
    padding-top: 3rem;
} */

.login-logo {
    display: inline-block;
    position: relative;
    width: 40%;
    margin-left: 8rem;
}

.login-text {
    font-weight: bold;
    color: #7fad39;
    text-align: center;
}

.row {
    margin: 0rem 1rem 0rem 1rem;
}

.login-btn {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 21rem;
    border: #7fad39;
    background-color: #7fad39;
    color: #ffff;
    padding: 0.5rem;
    border-radius: 13px;
}
    
.login-btn:hover{
    background-color: #ebebeb;
    color: black;
    
}